:root {
  --color-atomic-common-100: #FFFFFF;
  --color-atomic-common-0: #000000;

  --color-atomic-neutral-99: #F3F1EF;
  --color-atomic-neutral-95: #E9E6E2;
  --color-atomic-neutral-90: #DDD8D3;
  --color-atomic-neutral-80: #C7C0B9;
  --color-atomic-neutral-70: #AFA79F;
  --color-atomic-neutral-60: #8E867F;
  --color-atomic-neutral-50: #6C655F;
  --color-atomic-neutral-40: #4B4642;
  --color-atomic-neutral-30: #2F2B27;
  --color-atomic-neutral-20: #1A1815;
  --color-atomic-neutral-15: #141311;
  --color-atomic-neutral-10: #0F0E0C;
  --color-atomic-neutral-5: #050504;

  --color-atomic-coolNeutral-99: #F7F7F8;
  --color-atomic-coolNeutral-98: #F4F4F5;
  --color-atomic-coolNeutral-97: #EAEBEC;
  --color-atomic-coolNeutral-96: #E1E2E4;
  --color-atomic-coolNeutral-95: #DBDCDF;
  --color-atomic-coolNeutral-90: #C2C4C8;
  --color-atomic-coolNeutral-80: #AEB0B6;
  --color-atomic-coolNeutral-70: #989BA2;
  --color-atomic-coolNeutral-60: #878A93;
  --color-atomic-coolNeutral-50: #70737C;
  --color-atomic-coolNeutral-40: #5A5C63;
  --color-atomic-coolNeutral-30: #46474C;
  --color-atomic-coolNeutral-25: #37383C;
  --color-atomic-coolNeutral-23: #333438;
  --color-atomic-coolNeutral-22: #2E2F33;
  --color-atomic-coolNeutral-20: #292A2D;
  --color-atomic-coolNeutral-17: #212225;
  --color-atomic-coolNeutral-15: #1B1C1E;
  --color-atomic-coolNeutral-10: #171719;
  --color-atomic-coolNeutral-7: #141415;
  --color-atomic-coolNeutral-5: #0F0F10;

  --color-atomic-blue-99: #F7FBFF;
  --color-atomic-blue-95: #EAF2FE;
  --color-atomic-blue-90: #C9DEFE;
  --color-atomic-blue-80: #9EC5FF;
  --color-atomic-blue-70: #69A5FF;
  --color-atomic-blue-65: #4F95FF;
  --color-atomic-blue-60: #3385FF;
  --color-atomic-blue-55: #1A75FF;
  --color-atomic-blue-50: #0066FF;
  --color-atomic-blue-45: #005EEB;
  --color-atomic-blue-40: #0054D1;
  --color-atomic-blue-30: #003E9C;
  --color-atomic-blue-20: #002966;
  --color-atomic-blue-10: #001536;

  --color-atomic-brickRed-99: #F8E8E5;
  --color-atomic-brickRed-95: #F3CFC9;
  --color-atomic-brickRed-90: #E8A198;
  --color-atomic-brickRed-80: #DB796D;
  --color-atomic-brickRed-70: #D0584A;
  --color-atomic-brickRed-60: #C93D2E;
  --color-atomic-brickRed-50: #B33528;
  --color-atomic-brickRed-40: #8F2920;
  --color-atomic-brickRed-30: #691F18;
  --color-atomic-brickRed-20: #41130F;
  --color-atomic-brickRed-10: #311214;

  --color-atomic-green-99: #F2FFF6;
  --color-atomic-green-95: #D9FFE6;
  --color-atomic-green-90: #ACFCC7;
  --color-atomic-green-80: #7DF5A5;
  --color-atomic-green-70: #49E57D;
  --color-atomic-green-60: #1ED45A;
  --color-atomic-green-50: #00BF40;
  --color-atomic-green-40: #009632;
  --color-atomic-green-30: #006E25;
  --color-atomic-green-20: #004517;
  --color-atomic-green-10: #00240C;

  --color-atomic-olive-99: #EEF4ED;
  --color-atomic-olive-95: #D4E5DD; 
  --color-atomic-olive-90: #ADC9AD;
  --color-atomic-olive-80: #88AC88;
  --color-atomic-olive-70: #6E946E;
  --color-atomic-olive-60: #557A55;
  --color-atomic-olive-50: #466745;
  --color-atomic-olive-40: #375238;
  --color-atomic-olive-30: #273A28;
  --color-atomic-olive-20: #182419;
  --color-atomic-olive-10: #001908;

  --color-atomic-brickOrange-99: #FFFCF7;
  --color-atomic-brickOrange-95: #FFF3E6;
  --color-atomic-brickOrange-90: #FADBBE;
  --color-atomic-brickOrange-80: #F1BC88;
  --color-atomic-brickOrange-70: #E49A50;
  --color-atomic-brickOrange-60: #D6812A;
  --color-atomic-brickOrange-50: #C06E1C;
  --color-atomic-brickOrange-40: #A15B17;
  --color-atomic-brickOrange-30: #814612;
  --color-atomic-brickOrange-20: #5C320C;
  --color-atomic-brickOrange-10: #3A1F07;

  --color-atomic-redOrange-99: #FFFAF7;
  --color-atomic-redOrange-95: #FEEEE5;
  --color-atomic-redOrange-90: #FEDBC6;
  --color-atomic-redOrange-80: #FFC09C;
  --color-atomic-redOrange-70: #FF9C63;
  --color-atomic-redOrange-60: #FF7B2E;
  --color-atomic-redOrange-50: #FF5E00;
  --color-atomic-redOrange-48: #F55A00;
  --color-atomic-redOrange-40: #CC4B00;
  --color-atomic-redOrange-30: #943600;
  --color-atomic-redOrange-20: #5C22000;
  --color-atomic-redOrange-10: #2E1100;

  --color-atomic-lime-99: #F8FFF2;
  --color-atomic-lime-95: #E6FFD4;
  --color-atomic-lime-90: #CCFCA9;
  --color-atomic-lime-80: #AEF779;
  --color-atomic-lime-70: #88F03E;
  --color-atomic-lime-60: #6BE016;
  --color-atomic-lime-50: #58CF04;
  --color-atomic-lime-40: #48AD00;
  --color-atomic-lime-37: #429E00;
  --color-atomic-lime-30: #347D00;
  --color-atomic-lime-20: #225200;
  --color-atomic-lime-10: #112900;

  --color-atomic-cyan-99: #F7FEFF;
  --color-atomic-cyan-95: #DEFAFF;
  --color-atomic-cyan-90: #B5F4FF;
  --color-atomic-cyan-80: #8AEDFF;
  --color-atomic-cyan-70: #57DFF7;
  --color-atomic-cyan-60: #28D0ED;
  --color-atomic-cyan-50: #00BDDE;
  --color-atomic-cyan-40: #0098B2;
  --color-atomic-cyan-30: #006F82;
  --color-atomic-cyan-20: #004854;
  --color-atomic-cyan-10: #00252B;

  --color-atomic-navy-99: #EFF2F4;
  --color-atomic-navy-90: #E9EFF2;
  --color-atomic-navy-80: #C9D7DE;
  --color-atomic-navy-70: #9BB2C0;
  --color-atomic-navy-60: #6F8CA1;
  --color-atomic-navy-50: #4E6E87;
  --color-atomic-navy-40: #37607E;
  --color-atomic-navy-30: #244056;
  --color-atomic-navy-20: #182C3C;
  --color-atomic-navy-10: #0E1A24;

  --color-atomic-lightBlue-99: #F7FDFF;
  --color-atomic-lightBlue-95: #E5F6FE;
  --color-atomic-lightBlue-90: #C4ECFE;
  --color-atomic-lightBlue-80: #A1E1FF;
  --color-atomic-lightBlue-70: #70D2FF;
  --color-atomic-lightBlue-60: #3DC2FF;
  --color-atomic-lightBlue-50: #00AEFF;
  --color-atomic-lightBlue-40: #008DCF;
  --color-atomic-lightBlue-30: #006796;
  --color-atomic-lightBlue-20: #004261;
  --color-atomic-lightBlue-10: #002130;

  --color-atomic-violet-99: #FBFAFF;
  --color-atomic-violet-95: #F0ECFE;
  --color-atomic-violet-90: #DBD3FE;
  --color-atomic-violet-80: #C0B0FF;
  --color-atomic-violet-70: #9E86FC;
  --color-atomic-violet-60: #7D5EF7;
  --color-atomic-violet-50: #6541F2;
  --color-atomic-violet-45: #5B37ED;
  --color-atomic-violet-40: #4F29E5;
  --color-atomic-violet-30: #3A16C9;
  --color-atomic-violet-20: #23098F;
  --color-atomic-violet-10: #11024D;

  --color-atomic-purple-99: #FEFBFF;
  --color-atomic-purple-95: #F9EDFF;
  --color-atomic-purple-90: #F2D6FF;
  --color-atomic-purple-80: #E9BAFF;
  --color-atomic-purple-70: #DE96FF;
  --color-atomic-purple-60: #D478FF;
  --color-atomic-purple-50: #CB59FF;
  --color-atomic-purple-40: #AD36E3;
  --color-atomic-purple-30: #861CB8;
  --color-atomic-purple-20: #580A7D;
  --color-atomic-purple-10: #290247;

  --color-atomic-vintagePink-99: #F8F1F2;
  --color-atomic-vintagePink-90: #F1DFE1;
  --color-atomic-vintagePink-80: #E6C8CB;
  --color-atomic-vintagePink-70: #D8B1B6;
  --color-atomic-vintagePink-60: #C89DA3;
  --color-atomic-vintagePink-50: #B0838A;
  --color-atomic-vintagePink-46: #956B72;
  --color-atomic-vintagePink-40: #7A565D;
  --color-atomic-vintagePink-30: #5F4248;
  --color-atomic-vintagePink-20: #4C353A;
  --color-atomic-vintagePink-10: #3A292E;

  --color-atomic-opacity-0: 0;
  --color-atomic-opacity-5: 0.05;
  --color-atomic-opacity-8: 0.08;
  --color-atomic-opacity-12: 0.12;
  --color-atomic-opacity-16: 0.16;
  --color-atomic-opacity-22: 0.22;
  --color-atomic-opacity-28: 0.28;
  --color-atomic-opacity-35: 0.35;
  --color-atomic-opacity-43: 0.43;
  --color-atomic-opacity-52: 0.52;
  --color-atomic-opacity-61: 0.61;
  --color-atomic-opacity-74: 0.74;
  --color-atomic-opacity-88: 0.88;
  --color-atomic-opacity-97: 0.97;
  --color-atomic-opacity-100: 1;
}
