/* token 파일들 import */
@import "./styles/token/atomic.css";
@import "./styles/token/semantic.css";

@font-face {
  font-family: 'PretendardJP';
  src: url('./styles/fonts/pretendard/PretendardJPVariable.woff2') format('woff2-variations'),
       url('./styles/fonts/pretendard/PretendardJPVariable.woff2') format('woff2');
  font-weight: 100 900;  
  font-style: normal;
  font-display: swap;
}

html, body {
  background: var(--Background-Normal-Normal, #E9E6E2);
  font-family: 'PretendardJP', sans-serif;
}

button {
  background: inherit; /* 배경 제거 */
  border: none;        /* 테두리 제거 */
  box-shadow: none;    /* 그림자 제거 */
  border-radius: 0;    /* 둥근 모서리 제거 */
  padding: 0;          /* 내부 여백 제거 */
  overflow: visible;   /* 내용 잘림 방지 */
  cursor: pointer;     /* 마우스 올리면 손가락 모양 */
  font-family: inherit; /* 폰트 상속 (중요) */
  color: inherit;      /* 글자색 상속 */
}

/* 2. a 태그(링크) 초기화 */
a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit;        /* 파란/보라색 제거하고 부모 색상 따름 */
  cursor: pointer;
}

/* 3. input 태그 초기화 */
input {
  background: none;     /* 배경 제거 */
  border: none;         /* 테두리 제거 */
  border-radius: 0;     /* (모바일) 기본 둥근 모서리 제거 */
  outline: none;        /* 포커스시 파란 테두리 제거 (주의 필요) */
  appearance: none;     /* 브라우저 기본 UI 제거 (매우 중요) */
  -webkit-appearance: none; /* 사파리/크롬 호환 */
  font-family: inherit; /* 폰트 상속 */
}